@import url('../themes/themesStyles.css');
@import url('../utils/_tipographic.css');

footer{
    height: 60px;
    background-color: var(--primary-color);
    color: var(--second-color);
}

.container_footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container_footer h2{
    font-family: var(--font-libre);
}