@import url('../themes/themesStyles.css');
@import url('../utils/_tipographic.css');


header {
    height: auto;
    background-color:var(--primary-color);
    color: var(--second-color);
    border-bottom: 2px solid var();
    padding: 2rem 0;
}

.container_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.theme_content{
    position: relative;
    background-color: bisque;
    padding: 12px;
    display: flex;
    gap: 1rem;
    border-radius: 16px;
}

.title_header{
    font-family: var(--font-libre);
}

.theme_content > *{
 cursor: pointer;
}

.icon.active{
    transform: scale(1.3);    
}

.theme_content .icon:hover {
    color: var(--primary-color);
   
}



.theme_content:nth-child(1)::before{
    content: '';
    position: absolute;   
    top: 10px;
    right: 50% ;
    width: 1px;
    background-color: var(--second-color);
    height: 60%;
    
}

@media (max-width:768px){
    header{
        padding: 1rem 0;
    }
    .container_header{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        
    }
    .title_header{
        order: 1;
    }

}